name: Test Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      FARADAY_VERSION: ${{ matrix.faraday }}
      FARADAY_ADAPTER: ${{ matrix.faraday_adapter }}
      ACTIVESUPPORT_VERSION: ${{ matrix.activesupport }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.4', '2.5', '2.6', '2.7']
        faraday_adapter: [net_http, em_http]
        faraday: [ '~> 0.8.0', '~> 0.15.0', '~> 0.17.3', '~> 1.0', '~> 2.0' ]
        exclude:
          - ruby: '2.5'
            faraday: '~> 2.0'
          - ruby: '2.4'
            faraday: '~> 2.0'
          - faraday: '~> 2.0'
            faraday_adapter: em_http

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run RSpec
      run: bundle exec rspec
