name: Test Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      FARADAY_VERSION: ${{ matrix.faraday }}
      FARADAY_ADAPTER: ${{ matrix.faraday_adapter }}
      ACTIVESUPPORT_VERSION: ${{ matrix.activesupport }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4']
        faraday_adapter: [net_http, em_http]
        faraday: ['~> 1.0', '~> 2.0']
        exclude:
          # faraday-em_http does not support Faraday 2.0+
          - faraday: '~> 2.0'
            faraday_adapter: em_http

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run RSpec
      run: bundle exec rspec
